html{
  background-color: fefefe;
}

#presentation{
  text-align: left;
  position: absolute;
  margin: auto;
  color:#333;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 300px;
  font-size:16px;
}

#presentation img{
  float:left;
  margin-right: 1.5em;
}

#presentation h1{
  font-family: amatic-sc, sans-serif;
  font-weight: normal;
  font-size: 6em;
  margin:0.2em 0 -0.1em 0;
}

#presentation #links{
  color:#aaa;
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:1.5em;
  list-style-type: none;
  margin:0;
}

#presentation #links li{
  display: inline-table;
  margin-right:0.5em;
}

#presentation #links li a{
  text-decoration: none;
  color: #666;
}

#presentation #links li a:hover{
  color:#2c466d;
}

#presentation #links li:hover{
  color:#395d93;
}

.symbol{
  font-weight: bolder;
  font-family:console, monospace;
  font-size: 1.2em;
  margin-right:0.1em;
}

@media (max-width: 490px) {
  #presentation{
    font-size:10px;   
    width: 370px;
    height: 140px;
  }

  #presentation img{
    max-height: 110px;
    max-width: 110px;
  }   
}

@media (max-width: 350px) {
  #presentation{
    text-align: center !important;
    width: 300px;
    height: 400px;
    font-size:12px;    
  }

  #presentation h1{
    margin:0;
  }

  #presentation #links {
    margin:0;
    padding:0;
    font-size:2em;
    font-weight: bold; 
  }

  .symbol{
    font-size:1em;
  }

  #presentation #links li{
    display: block;
    margin-top:1em;
  }

  #presentation img{
    float:none;
    max-height: 100px;
    max-width: 100px;
  } 
}