---
layout: default
title: Lucas Andion
---
<script src="//use.edgefonts.net/amatic-sc.js"></script>

<div id="presentation">
  <img src="/images/avatar.png" width="165" height="165" />
  <div id="info">
    <h1>Lucas Andión</h1>
    <ul id="links">
      <li><span class="symbol">&plusmn;</span><a href="http://github.com/andion">andion</a></li>
      <li><span class="symbol">@</span><a href="http://twitter.com/bugyou">bugyou</a></li>
      <li><span class="symbol">#</span><a href="http://aquiyenlima.tumblr.com">aquiyenlima</a></li>
    </ul> 
  </div>
</div>

<!--
  <div id="home" class="eight columns offset-by-three">
    {% if site.posts %}
    <h3>Things I wrote</h3>
    <ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  -->